<h2>{{title}}</h2>
<p>{{body}}</p>

<div style="display: flex; flex-direction: column; gap: 12px">
    <a href="/posts/{{post.id}}/comments" style="color: black;">Comments</a>    

    <a href="/posts/{{post.id}}/edit" style="color: black;">Edit Post</a>

    <a href="/" style="color: black;">Main Page</a>
</div>



